@use '../scss/variables';
@use '../scss/mixins';

.navbar {
	height: 85px;
	color: variables.$white-color;
	background-color: variables.$primary-bcg;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1050;
	@include mixins.flex(flex, center, center, 0 0);

	ul {
		@include mixins.flex(flex, center, center, 0 15px);
		@media screen and (max-width: variables.$mobile) {
			position: absolute;
			flex-direction: column;
			right: -100%;
			width: 100%;
			top: 85px;
			row-gap: 50px;
			background-color: rgba(0, 0, 0, 0.8);
			padding: 50px 0;
			transition: right 0.3s;
		}
		&.active {
			@media screen and (max-width: variables.$mobile) {
				right: 0;
			}
		}
		li {
			a {
				color: inherit;
				font-weight: 500;
				font-size: 1.2rem;
				transition: color 0.3s;
				&:hover {
					color: darken(variables.$white-color, 20%);
				}
				&.active {
					color: darken(variables.$white-color, 20%);
				}
			}
		}
	}
	.mob-btn {
		background-color: transparent;
		border: none;
		outline: none;
		width: 42px;
		height: 42px;
		position: relative;
		display: none;
		cursor: pointer;
		@media screen and (max-width: variables.$mobile) {
			display: inline-block;
		}
		span {
			position: absolute;
			left: 10%;
			width: 80%;
			height: 2px;
			background-color: variables.$white-color;
			&:first-child {
				top: 20%;
				transition: all 0.3s;
			}
			&:last-child {
				bottom: 20%;
				transition: all 0.3s;
			}
			&:nth-child(2) {
				top: 50%;
				transform: translateY(-50%);
			}
		}
		&.active {
			span {
				&:first-child {
					top: 50%;
					transform: translateY(-50%) rotate(45deg);
				}
				&:last-child {
					bottom: 50%;
					transform: translateY(50%) rotate(-45deg);
				}
				&:nth-child(2) {
					display: none;
				}
			}
		}
	}
}
