@use '../scss/variables';
@use '../scss/mixins';

.navbar {
	height: 85px;
	color: variables.$white-color;
	background-color: variables.$primary-bcg;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1050;
	@include mixins.flex(flex, center, center, 0 0);
}
