body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 20px;
	line-height: 1.2;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}
*,
::after,
::before {
	box-sizing: border-box;
}
::selection {
	background-color: #ddd;
}
.content {
	height: calc(100vh - 85px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
